<h1><%= @task.name  %></h1>
<%= link_to "Edit", task_edit_path %> - <%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<p><strong>Description : </strong><%= @task.description %></p>
<p><strong>Created at : </strong><%= @task.created_at.strftime('%Y/%m/%d') %></p>
<p><strong>Updated at : </strong><%= @task.updated_at.strftime('%Y/%m/%d') %></p>

<p>
<%= link_to "Back to the list", tasks_path %>
</p>
